<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>django-email-registration</title>
  <link rel="stylesheet" href="fhp/lato.css">
  <link rel="stylesheet" href="fhp/style.css">
  <script src="fhp/script.js"></script>
</head>
<body>
  <section class="intro">
    <h1>django-email-registration</h1>

    <!--
    <p>Building websites with FeinCMS for fun and profit</p>
    -->
  </section>
  <section class="big">
    <h2>Inhalt</h2>
    <ol>
      <li>What is <code>django-email-registration</code>?</li>
      <li>Why not <code>django-registration</code>?</li>
      <li>Usage</li>
      <li>Digression: <code>django.core.signing</code></li>
    </ol>
  </section>

  <section class="title">
    <h1>What is <code>django-email-registration</code>?</h1>
  </section>
  <section class="big">
    <h1><code>email-registration</code></h1>
    <ul>
      <li>Register on-site, only by providing the email address</li>
      <li>Does <strong>not</strong> require a database</li>
      <li>Simple and clean: 260 lines of Python including comments</li>
      <li>Templates are already included</li>
      <li>It may also be used with existing <code>User</code>-instances
        to validate email addresses and setting initial passwords</li>
    </ul>
  </section>

  <section class="title">
    <h1>Why not <code>django-registration</code>?</h1>
  </section>
  <section class="big">
    <h1><code>d.-registration</code></h1>
    <ul>
      <li>Does not come with templates, because of that always laborious to use</li>
      <li>Extending the registration form vs. social authentication methods</li>
      <li>Old-school code, bad project management: 11 open pull requests on bitbucket,
        the oldest of April 20. still uncommented</li>
      <li>I <em>really</em> do not want to choose another username</li>
    </ul>
  </section>

  <section class="title">
    <h1>Usage</h1>
  </section>
  <section class="big">
    <h1>Form</h1>
    <textarea style="width:730px;height:450px;border:none;">
      <h2>{% trans "Send an activation link" %}</h2>
      <form method="post" action="{% url "email_registration_form" %}"
          class="well" id="registration">
        {% csrf_token %}
        <div class="controls">
          <input id="id_email" type="text" name="email" maxlength="30"
            placeholder="{% trans "E-mail address" %}">
        </div>
        <button type="submit" class="btn btn-primary">
          {% trans "Register" %}</button>
      </form>

      <script>
      function init_registration($) {
        $('#registration').on('submit', function() {
          var $form = $(this);
          $.post(this.action, $form.serialize(), function(data) {
            $('#registration').replaceWith(data);
            init_registration($);
          });
          return false;
        });
      }
      $(init_registration);
      </script>
    </textarea>
  </section>
  <section class="big">
    <h1>Confirmation mail</h1>
    <pre><code>
Subject: Registration link
From: no-reply@example.com
To: test@example.com

Click the following link to activate your account:

http://localhost:8038/accounts/er/<strong>test@example.com:::1TYBIg:P0k2ZmBbWrOKBGYlGO8nju9yLyY</strong>/

Please note that this link is only active for <strong>30 minutes</strong>. If you
wait longer, you'll have to request another registration link.

Warm regards
    </code></pre>
  </section>

  <section class="centered">
    <img src="django-email-registration/registration.png" alt="">
  </section>

  <section class="">
    <ul>
      <li>The <code>User</code> instance is created as late as possible: It only
        exists if the password has been successfully set</li>
      <li>The database is kept nice and clean, no <code>cleanup</code> invocations
        necessary</li>
    </ul>
  </section>

  <section class="big">
    <h1>Already existing <code>User</code>s</h1>
    <pre><code>
from email_registration.utils import send_registration_mail

send_registration_mail(user.email, request, user=user)
    </code></pre>
  </section>

  <section class="title">
    <h1>Digression: <code>django.core.signing</code></h1>
  </section>

  <section class="big">
    <h1><code>django.core.signing</code></h1>
    <pre><code>
>>> from django.core.signing import TimestampSigner
>>> signer = TimestampSigner(salt='something_salty')
>>> signer.sign('value-to-be-signed')
<strong>'value-to-be-signed:1TYBVw:gHYTOf-rpxIHVFYpxqgSaUblSYU'</strong>

>>> signer.unsign('value-to-be-signed:1TYBVw:gHYTOf-rpxIHVFYpxqgSaUblSYU', max_age=1800)
<strong>u'value-to-be-signed'</strong>

>>> signer.unsign('value-to-be-signed:1TYBVw:gHYTOf-rpxIHVFYpxqgSaUblSYU', max_age=10)
[...]
<strong>SignatureExpired: Signature age 19.6970710754 > 10 seconds</strong>
    </code></pre>
  </section>

  <section class="intro">
    <h1>Thanks for listening</h1>
    <p><code>https://github.com/matthiask/django-email-registration/</code></p>
  </section>
</body>
</html>
